{% extends "base.html" %}

{% block title %}Latest Statuses{% endblock %}

{% block container %}

<h2>Customers</h2>
{% if customers %}

<table>
<tr><th>Name</th><th>Phone Number</th><th>Update</th><th>Delete</th></tr>
{% for customer in customers %}
  <tr>
    <td>{{customer.name}}</td>
    <td>{{customer.phone_num}}</td>
    <!-- <td> <button type="button">Add Student</button> </td> -->
    <td> <a href="{% url 'update_customer' customer.id%}"><button>Update Customer</button></a></td>
    <td> <button type="button">Delete Student</button> </td>


  </tr>
{% endfor %}
</table>
<a href="{% url 'add_customer' %}">
<button>Add Customer</button></a>
<!-- <a href="{% url 'home' %}">
    <button>Back to home</button></a> -->
<!-- <button type="button">Add Customer</button></a> -->

{% else %}
  <p>No customers.</p>
  <a href="{% url 'add_customer' %}">
    <button>Add Customer</button></a>
    <!-- <a href="{% url 'home' %}">
    <button>Back to home</button></a> -->
{% endif %}

{% endblock %}