{% extends "base.html" %}

{% block container %}

<h2>Customers</h2>
{% if customers %}

<table>
<tr><th>Name</th><th>Phone Number</th><th>Update</th><th>Delete</th></tr>
{% for customer in customers %}
  <tr>
    <td>{{customer.name}}</td>
    <td>{{customer.phone_num}}</td>
    <td> <a href="{% url 'update_customer' customer.id%}"><button>Update Customer</button></a></td>
    <td> <a href="{% url 'delete_customer' customer.id%}"><button>Delete Customer</button></a> </td>


  </tr>
{% endfor %}
</table>
<a href="{% url 'add_customer' %}">
<button>Add Customer</button></a>

{% else %}
  <p>No customers.</p>
  <a href="{% url 'add_customer' %}">
    <button>Add Customer</button></a>
{% endif %}

{% endblock %}