{% extends "base.html" %}

{% block title %}Burger Restaurant{% endblock %}

{% block container %}

<!-- {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->

<h1>Welcome To our Burger Restaurant!</h1>
<h4>By: Nathan Tran and Han Choi</h4>

<h2>Customers</h2>
{% if customers %}

<table>
<tr><th>Name</th><th>Phone Number</th><th>Update</th><th>Delete</th></tr>
{% for customer in customers %}
  <tr>
    <td>{{customer.name}}</td>
    <td>{{customer.phone_num}}</td>
    <!-- <td> <button type="button">Add Student</button> </td> -->
    <td> <a href="{% url 'update_customer' customer.id%}"><button>Update Customer</button></a></td>
    <td> <button type="button">Delete Student</button> </td>


  </tr>
{% endfor %}
</table>
<a href="{% url 'add_customer' %}">
<button>Add Customer</button></a>
<!-- <button type="button">Add Customer</button></a> -->

{% else %}
  <p>No customers.</p>
  <a href="{% url 'add_customer' %}">
    <button>Add Customer</button></a>
{% endif %}
{% endblock %}
