{% extends "base.html" %}

{% block container %}


<table>
    <tr><th>Side</th><th>Drink</th></tr>
    <tr>
        <td> 
            <table>
                {% if sides %}

                <tr><th>Name</th><th>Price</th><th>Update</th><th>Delete</th></tr>
                {% for side in sides %}
                  <tr>
                    <td>{{side.side_name}}</td>
                    <td>{{side.s_price}}</td>
                    <td> <a href="{% url 'update_side' side.side_id%}"><button>Update Side</button></a></td>
                    <td> <a href="{% url 'delete_side' side.side_id%}"><button>Delete Side</button></a> </td>
                
                
                  </tr>
                {% endfor %}
                </table>
                <a href="{% url 'add_side' %}">
                <button>Add Side</button></a>
                
                {% else %}
                  <p>No sides.</p>
                  <a href="{% url 'add_side' %}">
                    <button>Add Side</button></a>
                {% endif %}
        </td>
        <td>
            {% if drinks %}

            <table>
            <tr><th>Name</th><th>Price</th><th>Update</th><th>Delete</th></tr>
            {% for drink in drinks %}
              <tr>
                <td>{{drink.drink_name}}</td>
                <td>{{drink.d_price}}</td>
                <td> <a href="{% url 'update_drink' drink.drink_id%}"><button>Update Drink</button></a></td>
                <td> <a href="{% url 'delete_drink' drink.drink_id%}"><button>Delete Drink</button></a> </td>
            
            
              </tr>
            {% endfor %}
            </table>
            <a href="{% url 'add_drink' %}">
            <button>Add Drink</button></a>
            
            {% else %}
              <p>No Drinks.</p>
              <a href="{% url 'add_drink' %}">
                <button>Add Drink</button></a>
            {% endif %}
            
        </td>
    </tr>
</table>
<h2>Sides</h2>





<h2>Drinks</h2>

<h2>Patty</h2>
{% if patties %}

<table>
<tr><th>Name</th><th>Price</th><th>Update</th><th>Delete</th></tr>
{% for patty in patties %}
  <tr>
    <td>{{patty.patty_name}}</td>
    <td>{{patty.p_price}}</td>
    <td> <a href="{% url 'update_patty' patty.patty_id%}"><button>Update Patty</button></a></td>
    <td> <a href="{% url 'delete_patty' patty.patty_id%}"><button>Delete Patty</button></a> </td>

  </tr>
{% endfor %}
</table>
<a href="{% url 'add_patty' %}">
<button>Add Patty</button></a>

{% else %}
  <p>No Patty.</p>
  <a href="{% url 'add_patty' %}">
    <button>Add Patty</button></a>
{% endif %}

<h2>Buns</h2>
{% if buns %}

<table>
<tr><th>Name</th><th>Price</th><th>Update</th><th>Delete</th></tr>
{% for bun in buns %}
  <tr>
    <td>{{bun.buns_name}}</td>
    <td>{{bun.b_price}}</td>
    <td> <a href="{% url 'update_buns' bun.buns_id%}"><button>Update Buns</button></a></td>
    <td> <a href="{% url 'delete_buns' bun.buns_id%}"><button>Delete Buns</button></a> </td>

  </tr>
{% endfor %}
</table>
<a href="{% url 'add_buns' %}">
<button>Add Buns</button></a>

{% else %}
  <p>No Buns.</p>
  <a href="{% url 'add_buns' %}">
    <button>Add Buns</button></a>
{% endif %}

<h2>Veggies</h2>
{% if veggies %}

<table>
<tr><th>Name</th><th>Price</th><th>Update</th><th>Delete</th></tr>
{% for veggie in veggies %}
  <tr>
    <td>{{veggie.veggie_name}}</td>
    <td>{{veggie.veggie_price}}</td>
    <td> <a href="{% url 'update_veggie' veggie.veggie_id%}"><button>Update Veggie</button></a></td>
    <td> <a href="{% url 'delete_veggie' veggie.veggie_id%}"><button>Delete Veggie</button></a> </td>

  </tr>
{% endfor %}
</table>
<a href="{% url 'add_veggie' %}">
<button>Add Veggie</button></a>

{% else %}
  <p>No Veggies.</p>
  <a href="{% url 'add_veggie' %}">
    <button>Add Veggie</button></a>
{% endif %}

<h2>Sauces</h2>
{% if sauces %}

<table>
<tr><th>Name</th><th>Price</th><th>Update</th><th>Delete</th></tr>
{% for sauce in sauces %}
  <tr>
    <td>{{sauce.sauce_name}}</td>
    <td>{{sauce.s_price}}</td>
    <td> <a href="{% url 'update_sauce' sauce.sauce_id%}"><button>Update Sauce</button></a></td>
    <td> <a href="{% url 'delete_sauce' sauce.sauce_id%}"><button>Delete Sauce</button></a> </td>

  </tr>
{% endfor %}
</table>
<a href="{% url 'add_sauce' %}">
<button>Add Sauce</button></a>

{% else %}
  <p>No Sauces.</p>
  <a href="{% url 'add_sauce' %}">
    <button>Add Sauce</button></a>
{% endif %}



{% endblock %}